<% include partials/header %>
<div class="container" style="margin-top: 50px">


<header class="jumbotron">

    <h2>Campgrounds</h2>

</header>

<p>Welcome to our app</p>

<a href="/campgrounds">View All Campgrounds</a>
</div>
<% include partials/footer %>
